.contattaci{
  background-image: linear-gradient(100deg, #4e3cae 0%, #785aed 100%);
  border-radius: 0% !important;
  margin-top: 115rem !important;
  padding-bottom: 14rem !important;
  margin-bottom: 0 !important;

  p{
  font-size: 1.5rem !important;
  color: #fff;
  }

    .col-md-3{
      max-width: 18%;
      padding-top: 3rem;
    
    .btn{
      background-color: #0ace99;
      border-radius: 2rem;
    }
  }
}