#features{
  background-color: #44d7b6;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  padding: 30px 0px 30px 0px;
  font-family: PlayfairDisplay-Regular_;
  font-weight: bold;
}

.parte_destra{
  font-size: 1.4rem;
  img{
    padding: 10px;
  }
}