.parte_sinistra{
  background-color: #44d7b6;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  padding-top: 30px;
  padding-bottom: 30px;

  font-family: PlayfairDisplay-Regular_;
  
     img,p{
     padding: 10px;
    }
}