.footer {
  
position: relative;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
padding: 2.5rem;
color: #fff;
background: #343434;
font-family: PlayfairDisplay-Regular_;
  font-size: 1.3rem;
}
