@media (max-width: 767px) {

  
  .impaginazione{
    h4{
   font-size: 18px;
 }
}




  p{
  font-size: 18px;
}
  .rectangle{
    font-size: 18px;
    margin: -260px 0px 0px 175px;
  }




  .team{

    h3{
      padding: 20px 0px 20px 0px;
    }

    p{
      font-size: 18px;
    }

  .img-fluid{
    height: 30vh;
  }
}

  .footer{
    padding: 1rem;

    .parte_destra{
      text-align: left;
    }
  }
}