.Rectangle {
  width: 58px;
  height: 25px;
  margin: -243px 60px 0px 264px;
  background-color: #e77474;
  padding-left: 10px;
  position: absolute;
  font-family: arial;
}

div#portfoglio {
  padding-bottom: 75px;
}