#portfoglio{
  padding-bottom: 75px;
  font-family: PlayfairDisplay-Regular_;
  text-align: center;
  font-size: 1.5rem;
  
  p{
    margin-bottom: 32px;
    font-weight: bold;
  }
}

.rectangle{
  background-color: #e77474;
  padding: 0px 10px 0px 10px;
  margin: -343px 20px 0px 340px;
  color: #fff;
  font-family: arial;
  position: absolute;
  font-size: 18px;
}