.team{
    margin: 40px 60px 57px;
    padding: 35px 35px 34px 34px;
    border-radius: 2rem;
    box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.29);
    background-image: linear-gradient(113deg, #4E3CAE 1%, #785AED);


  .img-fluid{
      border-radius: 2rem;
  }

   p {
  color: white;
  font-family: system-ui;
  font-size: 1.4rem;
  padding-bottom: 20px;
  }

h3 {
  font-size: 3rem;
  padding: 40px 0px 40px 0px;
  color: white;
  font-family: system-ui;
}
}